

				Choose one garment


				

				<%# redirects to garments %>

				<%# user selects garment %>

				<%# notice = garment selected %>

				<%# alert: please select at least one garment %>

				<%# shows options that match and gives the option to add them %>

				<%# gives option add more garments %>

				<%# refines suggestions if more are added %>

				<%# if user adds creates new conditional based on the characteristics of the 2 %>

				<%# gives option add more garments %>

				<%# allows up to 5 garments %>

				<!DOCTYPE html>
				<html>

				<head>
					<title>Adding image to dropdown list</title>
					<style>
						.dropbtn {
							background-color: #4CAF50;
							color: white;
							padding: 16px;
							font-size: 16px;
							border: none;
							cursor: pointer;
						}

						.dropdown {
							position: relative;
							display: inline-block;
						}

						.dropdown-content {
							display: none;
							position: absolute;
							background-color: #f9f9f9;
							min-width: 160px;
							box-shadow: 0px 8px 16px
								0px rgba(0, 0, 0, 0.2);
							z-index: 1;
						}

						.dropdown-content a {
							color: black;
							padding: 12px 16px;
							text-decoration: none;
							display: block;
						}

						.dropdown-content a:hover {
							background-color: #f1f1f1
						}

						.dropdown:hover .dropdown-content {
							display: block;
						}

						.dropdown:hover .dropbtn {
							background-color: #3e8e41;
						}
					</style>
				</head>

				<body>
						<div class="dropdown">
							<button class="dropbtn">
								Garment 1
							</button>
							
							<div class="dropdown-content">
								<a href="#">
									<img src=
				"https://media.geeksforgeeks.org/wp-content/uploads/20200630132503/iflag.jpg"
									width="20" height="15"> India</a>

								<a href="#">
									<img src=
				"https://media.geeksforgeeks.org/wp-content/uploads/20200630132504/uflag.jpg"
									width="20" height="15"> USA</a>
								<a href="#">
									<img src=
				"https://media.geeksforgeeks.org/wp-content/uploads/20200630132502/eflag.jpg"
									width="20" height="15"> England</a>
								<a href="#">
									<img src=
				"https://media.geeksforgeeks.org/wp-content/uploads/20200630132500/bflag.jpg"
									width="20" height="15"> Brazil</a>
							</div>
						</div>
				</body>

				</html>


<hr>

<div>
  <div>
    <h2>
      Add a new look
    </h2>

    <form action="/insert_looks" method="post">
      <div>
        <label for="looks_box">
          Looks
        </label>


        <select name="query_garment_1">
        <% Looks.all.order(:created_at).each do |a_look| %>
          <option value=<%= a_look.garment_1 %>>
          <%= a_look.garment_1 %>
          </option>
        <% end %>
        </select>



      </div>

      <button>
        Create new look
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Look
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
          
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_looks.each do |a_look| %>
      <tr>
        <td>
          <%= a_look.id %>
        </td>

        <td>
          <%= a_look.person.first_name %>
        </td>

        <td>
          <%= a_look.first_garment.id %>
        </td>

        <td>
          <%= time_ago_in_words(a_look.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_look.updated_at) %> ago
        </td>

        <td>
          <a href="/looks/<%= a_look.id %>">
            Show details
          </a>
        </td>

        <td>
          <a href="/delete_look/<%= a_look.id %>">Delete look
          </a>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
