
<%# page with a specific look %>
<div>
<h1>
<%= @the_look.person.first_name.capitalize %>'s look '<%= @the_look.description.capitalize %>'
</h1>

<p></p>
 

  <div class="container">
  <div class="row">
      <div class="col">
      <a href="/garments/<%= @the_look.first_garment.id %>">
       <img src="<%= @the_look.first_garment.image %>" class="img-thumbnail" width = "300" height = "300">
       </a>
      </div>

      <% if @the_look.second_garment != nil %>
       <div class="col">
       <a href="/garments/<%= @the_look.second_garment.id %>">
        <img src="<%= @the_look.second_garment.image %>" class="img-thumbnail" width = "300" height = "300">
        </a>
      
       <% else %>
       </div>
       <%end %>
  </div>  

      <% if @the_look.third_garment != nil %>
       <div class="col">
       <a href="/garments/<%= @the_look.third_garment.id %>">
       <img src="<%= @the_look.third_garment.image %>" class="img-thumbnail" width = "300" height = "300">
       </a>
       </div>
       <% else %>
       
       <%end %>

      <% if @the_look.fourth_garment != nil %>
       <div class="col">
       <a href="/garments/<%= @the_look.fourth_garment.id %>">
       <img src="<%= @the_look.fourth_garment.image %>" class="img-thumbnail" width = "300" height = "300">
       </a>
        </div>
       <% else %>
      
       <%end %>

      </div>
      
      <div class="row">
      <div class="col">
        <% if @the_look.fifth_garment != nil %>
       <div class="col">
       <a href="/garments/<%= @the_look.fifth_garment.id %>">
       <img src="<%= @the_look.fifth_garment.image %>" class="img-thumbnail" width = "300" height = "300">
       </a>
      </div>
       <% else %>
       <%end %>

    <dl>
      <dt>
  

<% if @the_look.first_garment != 0 && @the_look.second_garment != 0 && @the_look.third_garment != 0 && @the_look.fourth_garment != 0 && @the_look.fifth_garment != 0 && @the_look.first_garment != nil && @the_look.second_garment != nil && @the_look.third_garment != nil && @the_look.fourth_garment != nil && @the_look.fifth_garment != nil %>

<% else %>

  <hr>
  <h1> Zelia's suggestions for this look</h1>
  <p style="color:red">*Please note that suggestions change as you add garments to your look</p>

  <%# COLOR COMBINING ALGORITHM %>

  <%#VALIDATION OF COLORS %>

  <%# STEP 1 - Fetch Garment 1 number from "The Look" table/database %>
  
  <% garment_1_look = @the_look.garment_1 %>

  <%# STEP 2 - Look Garment 1'd ID in the Photo table/database%>

  <% matching_garments = Photo.where({ :id => garment_1_look }) %>

  <%#STEP 3 - Get the hex code of Garment 1 through the Photo table/database %>

  <% garment_1_base_color = matching_garments.at(0).hex_code %>

  <%# STEP 4 - Find the hex code found in step 3 in the Color Combination table/database through the base_color column %>

<% g1_base_colorcomb = ColorCombination.where({ :base_color_hex => garment_1_base_color }) %>

  <%# STEP 5 - Use the base color hex code found in step 4 to find all combinations in the Color Combination table/database listed in the hex_combination_color column %>

<% hex_codes_generated = g1_base_colorcomb.pluck(:hex_combination_color) %>

<%# STEP 6 - Use the hex codes found in step 5 to find Photos(Garments) that have the same matching hex code %>
<% algorithm_recommended_colors = Photo.where({ :hex_code => hex_codes_generated }) %>

<%#STEP 7 - Generate a list of each matching color for the second/third/fourth/fifth garment %>

<% algorithm_recommended_colors.each do |a_matching_color_second| %>
<% a_matching_color_second.hex_code %>
<% end %>

<%# VALIDATION OF TYPES %>

<%# STEP 8 - Fetch Garment 1 number from "The Look" table/database %>

<% garment_1_type = @the_look.garment_1 %>

<%# STEP 9 - Look Garment 1'd ID in the Photo table/database %>
<% matching_types = Photo.where({ :id => garment_1_type }) %>

<%#STEP 10 - Extract Type from Photo table/database %>
<% garment_1_type = matching_types.at(0).garment_type %>

<%#STEP 11 - Find the garment's type in the Type Possible Combination table/database through column garment_1_type %>

<% first_step_type = TypePossibleCombination.where({ :type_garment_1 => garment_1_type }) %>

<%#STEP 12 - Find the types of garments that match garment 1's type through the Type Possible Combination table/database, type_garment_2 column %>

<% garment_type_second_step = first_step_type.pluck(:type_garment_2).uniq %>

<%#STEP 13 - Find the types of garments that match garment 1's type through the Type Possible Combination table/database, type_garment_3 column %>

<% garment_type_third_step = first_step_type.pluck(:type_garment_3).uniq %>

<%# STEP 14 - Unite the arrays generated in steps 12 and 13 %>

<% all_garment_that_match = garment_type_second_step + garment_type_third_step %>

<%#STEP 15 - Find in the list of garments (photos) with the validated recommended colors the ones that have types that were listed in step 14 %>

<% final_output = algorithm_recommended_colors.where({ :garment_type => all_garment_that_match }) %>

<%#STEP 16 - create a list with the final outputs and show the image of each photo that has passed this algorithm's test %>

<%# This is the test of step 16, also described below: last_output = final_output.where.not({ :id => [ @the_look.garment_1, @the_look.garment_2, @the_look.garment_3, @the_look.garment_4, @the_look.garment_5 ] }). each do |a_test| %>

  <div class="container">
  <div class="row">
  <% last_output = final_output.where.not({ :id => [ @the_look.garment_1, @the_look.garment_2, @the_look.garment_3, @the_look.garment_4, @the_look.garment_5 ] }). each do |a_final_output| %>
  <div class="col-md-4">
      <a href="/garments/<%= a_final_output.id %>">
       <img src="<%= a_final_output.image %>" class="img-thumbnail" width = "300" height = "300">
       </a>
       <p><%= a_final_output.caption.capitalize %></p>
       </div>
       <% end %>
  </div>
  </div>

 <% end  %>

  <hr>

  <form action="/modify_look/<%= @the_look.id %>" method="post">

  <% if @the_look.garment_2 != 0 && @the_look.garment_2 != nil %>

  <input type="hidden" name="query_garment_2" value="<%= @the_look.garment_2 %>">

  <% else %>

  <label for="garment_2">Add second garment</label>
    <select class="form-select" aria-label="Default select example" name="query_garment_2">
    <option selected></option>
      <% Photo.all.where.not({ :id => [ @the_look.garment_1, @the_look.garment_2, @the_look.garment_3, @the_look.garment_4, @the_look.garment_5 ] }).each do |a_photo| %>
  <option value="<%= a_photo.id %>">
  <%= a_photo.caption %>
  </option>
  <% end %>
  </select>
  <% end %>


  <% if @the_look.garment_3 != 0 && @the_look.garment_3 != nil %>

  <input type="hidden" name="query_garment_3" value="<%= @the_look.garment_3 %>">

  <% else %>

  <form action="/modify_look/<%= @the_look.id %>" method="post">
  <label for="garment_3">Add third garment</label>
    <select class="form-select" aria-label="Default select example" name="query_garment_3">
    <option selected></option>
      <% Photo.all.where.not({ :id => [ @the_look.garment_1, @the_look.garment_2, @the_look.garment_3, @the_look.garment_5 ] }).each do |a_photo| %>
  <option value="<%= a_photo.id %>">
  <%= a_photo.caption %>
  </option>
  <% end %>
  </select>
  <% end %>


  <% if @the_look.garment_4 != 0 && @the_look.garment_4 != nil %>

  <input type="hidden" name="query_garment_4" value="<%= @the_look.garment_4 %>">

  <% else %>

    <form action="/modify_look/<%= @the_look.id %>" method="post">
  <label for="garment_4">Add fourth garment</label>
    <select class="form-select" aria-label="Default select example" name="query_garment_4">
    <option selected></option>
      <% Photo.all.where.not({ :id => [ @the_look.garment_1, @the_look.garment_2, @the_look.garment_3, @the_look.garment_5 ] }).each do |a_photo| %>
  <option value="<%= a_photo.id %>">
  <%= a_photo.caption %>
  </option>
  <% end %>
  </select>
  <% end %>


  <% if @the_look.garment_5 != 0 && @the_look.garment_5 != nil %>

  <input type="hidden" name="query_garment_5" value="<%= @the_look.garment_5 %>">

  <% else %>

  <form action="/modify_look/<%= @the_look.id %>" method="post">
  <label for="garment_5">Add fifth garment</label>
    <select class="form-select" aria-label="Default select example" name="query_garment_5">
    <option selected></option>
      <% Photo.all.where.not({ :id => [ @the_look.garment_1, @the_look.garment_2, @the_look.garment_3, @the_look.garment_5 ] }).each do |a_photo| %>
  <option value="<%= a_photo.id %>">
  <%= a_photo.caption %>
  </option>
  <% end %>
  </select>

   
  <button>Add this to your look!</button>
 
    </div>

    <input type="hidden" name="query_garment_1" value="<%= @the_look.garment_1 %>">
    <input type="hidden" name="query_description" value="<%= @the_look.description %>">

</div>
<% end %>
</form>


<div>
  <div>
    <h2>
      Edit look
    </h2>

    <form action="/update_look/<%= @the_look.id %>"  method="post" >
    <div>
          <label for="caption_box">
          Choose the garment you want to remove from this look
        </label>

        <div class="form-check">
        <input class="form-check-input" type="checkbox" value="<%= @the_look.garment_1 %>" id="flexCheckDefault_1" name="delete_garment_1">
        <label class="form-check-label" for="flexCheckDefault_1">
              Garment <%= @the_look.first_garment.caption %>
            </label>
          </div>

      <% if @the_look.garment_2 != 0 && @the_look.garment_2 != nil %>

        <div class="form-check">
        <input class="form-check-input" type="checkbox" id="flexCheckDefault_2" name="delete_garment_2">
        <label class="form-check-label" for="flexCheckDefault">
              Garment <%= @the_look.second_garment.caption %>
            </label>
          </div>
      
      <% end %>

      <% if @the_look.garment_3 != 0 && @the_look.garment_3 != nil %>

                <div class="form-check">
        <input class="form-check-input" type="checkbox" id="flexCheckDefault_3" name="delete_garment_3">
        <label class="form-check-label" for="flexCheckDefault">
              Garment <%= @the_look.third_garment.caption %>
            </label>
      
      <% end %>

        <% if @the_look.garment_4 != 0 && @the_look.garment_4 != nil %>
          </div>
                <div class="form-check">
        <input class="form-check-input" type="checkbox" id="flexCheckDefault_4" name="delete_garment_4">
        <label class="form-check-label" for="flexCheckDefault">
              Garment <%= @the_look.fourth_garment.caption %>
            </label>
      <% end %>

      <% if @the_look.garment_5 != 0 && @the_look.garment_5 != nil %>
          </div>
                <div class="form-check">
        <input class="form-check-input" type="checkbox" id="flexCheckDefault_5" name="delete_garment_5">
        <label class="form-check-label" for="flexCheckDefault">
              Garment <%= @the_look.fifth_garment.caption %>
            </label>
        <% end %>
          </div>
          </div>

    
    <%# allow users to delete each garment %>

    </div>

      <div>
        <label for="caption_box">
          Change Look's Description
        </label>

        <textarea id="caption_box" name="query_description"><%= @the_look.description %></textarea>
      </div>

      <div>
        <input type="hidden" id="owner_id_box" name="query_owner_id" value="<%= @the_look.owner_id %>">
      </div>

      <button>
        Update Look
      </button>
    </form>
  </div>
</div>

<hr>

  <div>
      <div>
        <form action="/delete_look/<%= @the_look.id %>">
        <button type="submit" class="btn btn-danger">
          Delete Look</button>
        </form>
      </div>
  </div>

  
