<%# page with a specific look %>
<div>
<h1>
<%= @the_look.person.first_name.capitalize %>'s look '<%= @the_look.description.capitalize %>'
</h1>

<p></p>

  <div class="container">
  <div class="row">
      <div { max-height: 200px; max-width: 50%; } class="col">
       <img src="<%= @the_look.first_garment.image %>" class="img-thumbnail">
      </div>

      <% if @the_look.second_garment != nil %>
       <div { max-height: 200px; max-width: 50%; } class="col">
       <img src="<%= @the_look.second_garment.image %>" class="img-thumbnail">
       <% else %>
       </div>
       <%end %>
  </div>  

      <% if @the_look.third_garment != nil %>
       <div { max-height: 200px; max-width: 50%; } class="col">
       <img src="<%= @the_look.third_garment.image %>" class="img-thumbnail">
       </div>
       <% else %>
       
       <%end %>

      <% if @the_look.fourth_garment != nil %>
       <div { max-height: 200px; max-width: 50%; } class="col">
       <img src="<%= @the_look.fourth_garment.image %>" class="img-thumbnail">
        </div>
       <% else %>
      
       <%end %>

      </div>
      
      <div class="row">
      <div { max-height: 200px; max-width: 50%; } class="col">
        <% if @the_look.fifth_garment != nil %>
       <div class="col">
       <img src="<%= @the_look.fifth_garment.image %>" class="img-thumbnail">
      </div>
       <% else %>
       <%end %>

    <dl>
      <dt>
  
  
  <form action="/modify_look/<%= @the_look.id %>" method="post">
  <label for="garment_2">Add second garment</label>
    <select class="form-select" aria-label="Default select example" name="query_garment_2">
    <option selected>Open this select menu</option>
      <% Photo.all.each do |a_photo| %>
  <option value="<%= a_photo.id %>">
  <%= a_photo.caption %>
  </option>
  <% end %>
  </select>

  <form action="/modify_look/<%= @the_look.id %>" method="post">
  <label for="garment_3">Add third garment</label>
    <select class="form-select" aria-label="Default select example" name="query_garment_3">
    <option selected>Open this select menu</option>
      <% Photo.all.each do |a_photo| %>
  <option value="<%= a_photo.id %>">
  <%= a_photo.caption %>
  </option>
  <% end %>
  </select>


    <form action="/modify_look/<%= @the_look.id %>" method="post">
  <label for="garment_2">Add fourth garment</label>
    <select class="form-select" aria-label="Default select example" name="query_garment_4">
    <option selected>Open this select menu</option>
      <% Photo.all.each do |a_photo| %>
  <option value="<%= a_photo.id %>">
  <%= a_photo.caption %>
  </option>
  <% end %>
  </select>


  <form action="/modify_look/<%= @the_look.id %>" method="post">
  <label for="garment_2">Add fifth garment</label>
    <select class="form-select" aria-label="Default select example" name="query_garment_5">
    <option selected>Open this select menu</option>
      <% Photo.all.each do |a_photo| %>
  <option value="<%= a_photo.id %>">
  <%= a_photo.caption %>
  </option>
  <% end %>
  </select>

   
  <button>Add this to your look!</button>
 
    </div>

    <input type="hidden" name="query_garment_1" value="<%= @the_look.garment_1 %>">
    <input type="hidden" name="query_description" value="<%= @the_look.description %>">

</div>
</form>

<%# if garment_2 is selected

show the picture as well

else

show nothing %>






<%#

color_garment = garment_1.fetch("hex_code")

type_garment = garment_1.fetch("type")

if

garment 1 is type and color, show

matches of type and color

else

hide

if garment 1 and 2 are

type 1 color 1 type 2 color 2

show combinations

else 

hide




 %>

<div>
  <div>
    <h2>
      Edit look
    </h2>

    <form action="/modify_look/<%= @the_look.id %>"  method="post" >
    <div>
          <label for="caption_box">
          Garments associated with this look
        </label>

        <input type="title" id="garment_1_box" name="query_garment_1" value="<%= @the_look.garment_1 %>">

        <input type="title" id="garment_2_box" name="query_garment_2" value="<%= @the_look.garment_2 %>">

        <input type="title" id="garment_3_box" name="query_garment_3" value="<%= @the_look.garment_3 %>">

        <input type="title" id="garment_4_box" name="query_garment_4" value="<%= @the_look.garment_4 %>">

        <input type="title" id="garment_5_box" name="query_garment_2" value="<%= @the_look.garment_5 %>">

    
    <%# allow users to delete each garment %>

    </div>

      <div>
        <label for="caption_box">
          Description
        </label>

        <textarea id="caption_box" name="query_description"><%= @the_look.description %></textarea>
      </div>

      <div>
        <input type="hidden" id="owner_id_box" name="query_owner_id" value="<%= @the_look.owner_id %>">
      </div>

      <button>
        Update Look
      </button>
    </form>
  </div>
</div>

<hr>
