<%# page with a specific look %>
<div>
<h1>
<%= @the_look.person.first_name.capitalize %>'s look #<%= @the_look.id %>
</h1>

    <div class="container">
      <div class="row">
      <div class="col">
       <img src="<%= @the_look.first_garment.image %>">
      </div>

       <div class="col">
    <dl>
      <dt>
  
  <label for="garment_2">Add another garment</label>
    <select class="form-select" aria-label="Default select example" name="query_garment_2">
    <option selected>Open this select menu</option>
      <% Photo.all.each do |a_photo| %>
  <option value="<%= a_photo.id %>">
  <%= a_photo.caption %>
  </option>
  <% end %>
  </select>
    </div>
    <div class="col">
            <button>Add this to your look!</button>
    </div>
</div>

<%# if garment_2 is selected

show the picture as well

else

show nothing %>






<%#

color_garment = garment_1.fetch("hex_code")

type_garment = garment_1.fetch("type")

if

garment 1 is type and color, show

matches of type and color

else

hide

if garment 1 and 2 are

type 1 color 1 type 2 color 2

show combinations

else 

hide




 %>

<div>
  <div>
    <h2>
      Edit look
    </h2>

    <form action="/modify_look/<%= @the_look.id %>"  method="post" >
    <div>
          <label for="caption_box">
          Garments associated with this look
        </label>

        <input type="title" id="garment_1_box" name="query_garment_1" value="<%= @the_look.garment_1 %>">

        <% if @the_look.garment_2 != nil %>
        <input type="title" id="garment_1_box" name="query_garment_1" value="<%= @the_look.garment_2 %>">

        <% else %>
        <%end %>

        <% if @the_look.garment_3 != nil %>

        <input type="title" id="garment_1_box" name="query_garment_1" value="<%= @the_look.garment_3 %>">

        <% else %>
        <%end %>

        <% if @the_look.garment_4 != nil %>

        <input type="title" id="garment_1_box" name="query_garment_1" value="<%= @the_look.garment_4 %>">

        <% else %>
        <%end %>

        <% if @the_look.garment_5 != nil %>

        <input type="title" id="garment_1_box" name="query_garment_1" value="<%= @the_look.garment_5 %>">

        <% else %>
        <%end %>



    </div>

      <div>
        <label for="caption_box">
          Description
        </label>

        <textarea id="caption_box" name="query_caption"><%= @the_look.description %></textarea>
      </div>

      <div>
        <input type="hidden" id="owner_id_box" name="query_owner_id" value="<%= @the_look.owner_id %>">
      </div>

      <button>
        Update Look
      </button>
    </form>
  </div>
</div>

<hr>
