<div>
  <div>
    <h1>
      Hello, <%= @current_user.first_name.capitalize %>!
    </h1>
  </div>
</div>

<hr>
        <h2>
          Add a new garment
        </h2>
<p></p>

<div>
<div class="container">
  <div class="row">
    <div class="col">
      <form action="/insert_garment" method="post" class="form-horizontal" enctype="multipart/form-data">
    </div>
    <div class="col">
        <label for="image_box">Image</label>
    </div>
    <div class="col">
      <input type="file" id="image_box" name="query_image" class="form-control">
    </div>
    <div class="col">
      <label for="caption_box">Description</label>
    </div>
    <div class="col">
      <textarea id="caption_box" name="query_caption" rows="1"></textarea>
    </div>
    <div>
      <input type="hidden" id="owner_id_box" name="query_owner_id">
    </div>
    <div class="col">
    
      <button>Select type</button>
            <%# <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item">Bodysuit</a></li>
              <li><a class="dropdown-item">Dress</a></li>
              <li><a class="dropdown-item">Jackets and Coats</a></li>
              <li><a class="dropdown-item">Jumpsuit</a></li>
              <li><a class="dropdown-item">Pants</a></li>
              <li><a class="dropdown-item">Shorts</a></li>
              <li><a class="dropdown-item">Skirts</a></li>
              <li><a class="dropdown-item">Tops</a></li>
              <li><a class="dropdown-item">Vests</a></li>
            </ul>%>
    </div>

    <div class="col">
            <button>Upload photo</button>
    </div>
  
  </form> 
  </div> 
</div>
    





<%# { :notice => "photo uploaded successfuly!" } %>
<%# { :alert => user.errors.full_messages } %>


<%# GRID %>

<hr>
  <h2>
  Your Garments
  </h2>

<% current_user_photos = Photo.where({ :id => @the_photo, :owner_id => session.fetch(:user_id) }) %>

<% the_photos = current_user_photos.at(0) %>

<div class="container">
  <div class="row">
  <% @list_of_photos.each do |a_photo| %>
    <div class="col-md-4">
      <a href="/garments/<%= a_photo.id %>">
      <img src="<%= a_photo.image %>" class="img-fluid">
      </a>
    </div>
<% end %>
</div>
</div>


<%# I'll probably erase everything from down here %>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Image
        </th>

        <th>
          Name
        </th>

        <th>
          Owner
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
      
      <tr>
        <td>
          <%= a_photo.id %>
        </td>

        <td>
          <img src="<%= a_photo.image %>">
        </td>

        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <%= a_photo.owner_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_photo.updated_at) %> ago
        </td>

        <td>
          <a href="/garments/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
