<%# if session.fetch(:user_id) != nil %>

<div>
  <div>
    <h1>
      Hello, <%= @current_user.first_name.capitalize %>!
    </h1>
  </div>
</div>

<hr>
        <h2>
          Add a new garment
        </h2>
<p></p>

<div>
<div class="container">
  <div class="row">
    <div class="col">
      <form action="/insert_garment" method="post" class="form-horizontal" enctype="multipart/form-data">
      <label for="image_box">Image</label>
      <input type="file" id="image_box" name="query_image" class="form-control">
      <label for="caption_box">Description</label>
      <textarea id="caption_box" name="query_caption" rows="1"></textarea>
      <input type="hidden" id="owner_id_box" name="query_owner_id">
    </div>
    <div class="col">

    <%# do a form here for type %>
    <label for="garment_type">Select type</label>
    <select class="form-select" aria-label="Default select example" name="query_garment_type">
    <option selected></option>
      <% AGarmentType.all.each do |a_type| %>
  <option value="<%= a_type.garment_type_name %>">
  <%= a_type.garment_type_name %>
  </option>
  <% end %>
  </select>
    </div>
    <div class="col">
            <button>Upload photo</button>
    </div>
  
  </form> 
  </div> 
</div>
    





<%# { :notice => "photo uploaded successfuly!" } %>
<%# { :alert => user.errors.full_messages } %>


<%# GRID %>

<hr>
  <h2>
  Your Garments
  </h2>

<% current_user_photos = Photo.where({ :id => @the_photo, :owner_id => session.fetch(:user_id) }) %>

<% the_photos = current_user_photos.at(0) %>

<div class="container">
  <div class="row">
  <% @list_of_photos.each do |a_photo| %>
    <div class="col-md-4">
      <a href="/garments/<%= a_photo.id %>">
      <img src="<%= a_photo.image %>" class="img-fluid">
      </a>
    </div>
<% end %>
</div>
</div>


<%# I'll probably erase everything from down here %>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Image
        </th>

        <th>
          Name
        </th>

        <th>
          Owner
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
      
      <tr>
        <td>
          <%= a_photo.id %>
        </td>

        <td>
          <img src="<%= a_photo.image %>">
        </td>

        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <%= a_photo.owner_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_photo.updated_at) %> ago
        </td>

        <td>
          <a href="/garments/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>



<%# else %>

<%# redirect_to "/user_authentication/sign_in", :alert => "Please sign in first!" %>

<%# end %>
