<div>
  <div>
    <h1>
      Hello, <%= @current_user.first_name.capitalize %>!
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new garment
    </h2>

    <form action="/insert_garment" method="post" class="form-horizontal" enctype="multipart/form-data">
      <div>
        <label for="image_box">
          Image
        </label>

        <input type="file" id="image_box" name="query_image" class="form-control">
      </div>

      <div>
        <label for="caption_box">
          Name
        </label>

        <textarea id="caption_box" name="query_caption" rows="3"></textarea>
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id">
      </div>

        <div>
        <label for="favcolor">Select your favorite color:</label>
        <input type="color" id="favcolor" name="favcolor" value="#ff0000"><br><br>
        <input type="submit">
        </div>


      <button>
        Create photo
      </button>
    </form>
  </div>
</div>

<%# GRID %>

<div class="container">

  <div class="row">
  <% @list_of_photos.each do |a_photo| %>
    <div class="col-md-4">
    <img src="<%= a_photo.image %>" class="img-responsive">
  </div>
<% end %>
</div>


<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Image
        </th>

        <th>
          Name
        </th>

        <th>
          Owner
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
      <tr>
        <td>
          <%= a_photo.id %>
        </td>

        <td>
          <img src="<%= a_photo.image %>">
        </td>

        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <%= a_photo.owner_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_photo.updated_at) %> ago
        </td>

        <td>
          <a href="/garments/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
