<div>
  <div>
    <h1>
      Hello, <%= @current_user.first_name.capitalize %>!
    </h1>
  </div>
</div>

<hr>
        <h2>
          Add a new garment
        </h2>
<p></p>
<form action="/insert_garment" method="post" class="form-horizontal" enctype="multipart/form-data">
<div class="container">
<div class="row align-items-start">
    <div class="col-1">
        <label for="image_box">
          Image
        </label>
    </div>
    <div class="col-4">
        <input type="file" id="image_box" name="query_image" class="form-control">
    </div>
    <div class="col-1">
          <label for="caption_box">
            Name
          </label>
    </div>
    <div class="col-3">
          <textarea id="caption_box" name="query_caption" rows="1"></textarea>
    </div>

      <%# <div>
        <input type="hidden" id="owner_id_box" name="query_owner_id">
      </div>%>

    <div class="col-3">
      <button type="button" class="btn btn-primary">
        Upload photo
      </button>
    </div>
  </div>
</div>
</form>

<%# { :notice => "photo uploaded successfuly!" } %>
<%# { :alert => user.errors.full_messages } %>


<%# GRID %>

<hr>
  <h2>
  Your Garments
  </h2>

<div class="container">
  <div class="row">
  <% @list_of_photos.each do |a_photo| %>
    <div class="col-md-4">
      <a href="/garments/<%= a_photo.id %>">
      <img src="<%= a_photo.image %>" class="img-fluid">
      </a>
    </div>
<% end %>
</div>
</div>


<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Image
        </th>

        <th>
          Name
        </th>

        <th>
          Owner
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
      <tr>
        <td>
          <%= a_photo.id %>
        </td>

        <td>
          <img src="<%= a_photo.image %>">
        </td>

        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <%= a_photo.owner_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_photo.updated_at) %> ago
        </td>

        <td>
          <a href="/garments/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
