<div>
  <div>
    <h1>
      Garment '<%= @the_photo.caption.capitalize %>' details
    </h1>

     <div class="container">
  <div class="row">
  <div class="col">
  <img src="/color_reference.jpeg" class="img-fluid">
  </div>
  </div>
  </div>


    <div class="container">
      <div class="row">
      <div class="col-md-6">
        <img src="<%= @the_photo.image %>" class="img-fluid">
      </div>
    <div class="col-md-6">
    <dl>
      <dt>
        Description
      </dt>
      <dd>
        <%= @the_photo.caption.capitalize %>
      </dd>

      <dt>
        Color
      </dt>
      <dd>
      <% if @the_photo.hex_code != 0 && @the_photo.hex_code != nil %>
        <% photo_color = @the_photo.hex_code %>
        <% matching_color = Color.where({ :hex_code => photo_color }) %>
        <%= garment_color_name = matching_color.at(0).color_name.capitalize %>

        <% else %>

        <p style="color:red">Please update your Look's color below</p>

        <% end %>

      </dd>


      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.updated_at) %> ago
      </dd>


      <dt>
        Color
      </dt>
      <dd>

<div class="container">
      <div class="row">
      <div class="col">
    <form action="/modify_garment_color/<%= @the_photo.id %>">
      <label for="favcolor">Please update the item's color:</label>
    <select class="form-select" aria-label="Default select example" name="favcolor">
  <option selected>Open this select menu</option>
    <% Color.all.each do |a_color| %>
  <option value="<%= a_color.hex_code %>">
  <%= a_color.color_name %>
  </option>
  <% end %>
  </select>
  <button class="btn btn-secondary">
  Choose color
  </button>
    </form>
      </div>
        </div>
      </form>
    </div>

      </dd>

      <dt>
      <div class="col">
        <form action="/insert_looks" method="post">
        <input type="hidden" name="garment_1" value="<%= @the_photo.id %>">

        <dt>
          Do you want to create a look using this garment?
        
        <dd>
        Add a Description to your Look
        </dd>
        </div>
        <div class="col">
        <input type="text" id="description_box" name="query_description">

        <%# ask for help %>

        <%# <textarea id="description_box" name="query_description"><% @the_photo.looks.description %>
        <%# </textarea>%>
        <button class="btn btn-primary">Create a new look using this garment</button>
        </div>
        </form>
        
      </a>
      </dt>
  </dt>

<dt>
  <div>
      <div>
        <form action="/delete_garment/<%= @the_photo.id %>">
        <button type="submit" class="btn btn-danger">
        <%# <a href="/delete_garment/<%= @the_photo.id %>
          Delete photo</button>
        </form>
        </div>
      </div>
    </dt>

    
    </dl>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>




<div>
  <div>
    <h2>
      Edit garment
    </h2>

    <form action="/modify_garment/<%= @the_photo.id %>"  method="post" >
      <div class="col-md-4">
        <label for="caption_box">
          Description
        </label>

        <textarea id="caption_box" name="query_caption"><%= @the_photo.caption %></textarea>
      </div>

      <div>
        <input type="hidden" id="owner_id_box" name="query_owner_id" value="<%= @the_photo.owner_id %>">
      </div>

      <div class="col-md-4">
          <label for="garment_type">Type</label>
        <select class="form-select" aria-label="Default select example" name="query_garment_type">
        <option selected><%= @the_photo.garment_type %></option>
          <% AGarmentType.all.each do |a_type| %>
      <option value="<%= a_type.garment_type_name %>">
      <%= a_type.garment_type_name %>
      </option>
      <% end %>
      </select>
    </div>
    </div>

      <button>
        Update photo
      </button>

    <%# <input type="hidden" name="query_image" value="<%# not sure which value to put here %>

    </form>
  </div>
</div>

<hr>
