<div>
  <div>
    <h1>
      Garment #<%= @the_photo.id %> details
    </h1>


    <div class="container">
      <div class="row">
      <div class="col">
        <img src="<%= @the_photo.image %>">
      </div>
    <div class="col">
    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <%= @the_photo.image %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.owner_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.updated_at) %> ago
      </dd>


      <dt>
        Color
      </dt>
      <dd>

<div class="container">
      <div class="row">
      <div class="col">
    <form action="/modify_garment_color/<%= @the_photo.id %>">
      <label for="favcolor">Please update the item's color:</label>
      <input type="color" id="favcolor" name="favcolor" value=""><br><br>
        <button class="btn btn-secondary">
        Choose color
      </button>
    </form>
      </div>
        </div>
      </form>
    </div>

      </dd>

      <dt>
      <% if %>
        <form action="/insert_looks" method="post">
        <input type="hidden" name="garment_1" value="<%= @the_photo.id %>">
        <button class="btn btn-primary">Create a new look using this garment</button>
        </form>
      <% else %>
        
      <% end %>
      </a>
  </dt>

<dt>
  <div>
      <div>
        <form action="/delete_garment/<%= @the_photo.id %>">
        <button type="submit" class="btn btn-danger">
        <%# <a href="/delete_garment/<%= @the_photo.id %>
          Delete photo</button>
        </form>
        </div>
      </div>
    </dt>

    
    </dl>
  </div>
</div>
</div>
</div>
</div>


<hr>
<div class="col">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Select type
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/">Bodysuit</a></li>
        <li><a class="dropdown-item" href="/garments">Dress</a></li>
        <li><a class="dropdown-item" href="#">Jackets and Coats</a></li>
        <li><a class="dropdown-item" href="#">Jumpsuit</a></li>
        <li><a class="dropdown-item" href="#">Pants</a></li>
        <li><a class="dropdown-item" href="#">Shorts</a></li>
        <li><a class="dropdown-item" href="#">Skirts</a></li>
        <li><a class="dropdown-item" href="#">Tops</a></li>
        <li><a class="dropdown-item" href="#">Vests</a></li>
      </ul>
    </div>
</div>
</div>
</div>

<div>
  <div>
    <h2>
      Edit garment
    </h2>

    <form action="/modify_garment/<%= @the_photo.id %>"  method="post" >
      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_photo.image %>">
      </div>

      <div>
        <label for="caption_box">
          Caption
        </label>

        <textarea id="caption_box" name="query_caption"><%= @the_photo.caption %></textarea>
      </div>

      <div>
        <input type="hidden" id="owner_id_box" name="query_owner_id" value="<%= @the_photo.owner_id %>">
      </div>

      <button>
        Update photo
      </button>
    </form>
  </div>
</div>

<hr>
