<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link rel="stylesheet" href="/css/bootstrap.css">

    <script src="js/bootstrap.bundle.js"></script>

  </head>

  <body>

  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <img src="zelia_logo.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      <a class="navbar-brand" href="/garments">Zelia</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
     <% if session.fetch(:user_id) != nil %>
     
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/garments">My closet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/looks">My looks</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/user_sign_out">Sign out</a>
            </li>
          
    <% else %>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/user_sign_in">Sign in</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/user_sign_up">Sign up</a>
          </li>

    <% end %>

          <%# 
          
          DROPDOWN MENU
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/garments">My closet</a></li>
              <li><a class="dropdown-item" href="/garments/#{:path_id}">My looks</a></li>
            </ul>
        </ul>

        SEARCH BAR

        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>%>

      </div>
    </div>
  </nav>

    <%# NOTICE AND ALERT %>

    <% if notice.present? %>
    <div class="alert alert-success" role="alert">
    <%= notice %>
    </div>
    <% end %>

    <% if alert.present? %>
    <div class="alert alert-danger" role="alert">
    <%= alert %>
    </div>
    <% end %>

  <%= yield %>

  </body>
</html>
